body {
  padding-top: 50px;
  background: #929292;
}

.content-wrap{
	background-color: #FFFFFF;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background-color: #eee;
	border-radius: 10px;
}

.img-container{
	height: 100%;
}